<%= form_with(model: password) do |form| %>
  <% if password.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(password.errors.count, "error") %> prohibited this password from being saved:</h2>

      <ul>
        <% password.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :number, style: "display: block" %>
    <%= form.text_field :number %>
  </div>

  <div>
    <%= form.label :preferential, style: "display: block" %>
    <%= form.check_box :preferential %>
  </div>

  <div>
    <%= form.label :sector, style: "display: block" %>
    <%= form.text_field :sector %>
  </div>

  <div>
    <%= form.label :service, style: "display: block" %>
    <%= form.text_field :service %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :canceled, style: "display: block" %>
    <%= form.check_box :canceled %>
  </div>

  <div>
    <%= form.label :start_attendance, style: "display: block" %>
    <%= form.datetime_field :start_attendance %>
  </div>

  <div>
    <%= form.label :end_attendance, style: "display: block" %>
    <%= form.datetime_field :end_attendance %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
