<div id="<%= dom_id password %>">
  <p>
    <strong>Number:</strong>
    <%= password.number %>
  </p>

  <p>
    <strong>Preferential:</strong>
    <%= password.preferential %>
  </p>

  <p>
    <strong>Sector:</strong>
    <%= password.sector %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= password.service %>
  </p>

  <p>
    <strong>User:</strong>
    <%= password.user_id %>
  </p>

  <p>
    <strong>Canceled:</strong>
    <%= password.canceled %>
  </p>

  <p>
    <strong>Start attendance:</strong>
    <%= password.start_attendance %>
  </p>

  <p>
    <strong>End attendance:</strong>
    <%= password.end_attendance %>
  </p>

</div>
