<p style="color: green"><%= notice %></p>

<%= render @password %>

<div>
  <%= link_to "Edit this password", edit_password_path(@password) %> |
  <%= link_to "Back to passwords", passwords_path %>

  <%= button_to "Destroy this password", @password, method: :delete %>
</div>
